<html>
<body>
    <h1>Test api</h1>
    <!-- <p>Entrez un nombre: <input id="test"> <button id="myBtn" onclick="myFunction()"> Send to api</button></p> -->
    <form action="", method="post">
      <input type="text" name="user" value="" id="input">
      <input type="submit" value="envoyer" onclick="test()">

    </form>
    <!-- <p id="p"></p>
    <script>
      function test(){
      var x = document.getElementById("input").value;
      var elem = document.getElementById("p");
      elem.innerText = x
      document.body.appendChild(elem);
    
    }
    </script> -->
</body>
</html>